
header, nav, .content, footer{
    padding: 20px;
}


header{
    float: left;
    width: 25%;
    /* background-color: red; */
}


nav{
    float: left;
    width: 75%;
    /* background-color: blue; */
}


.content{
    float: left;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    /* background-color: yellow; */
}


footer{
    float: left;
    width: 100%;
    /* background-color: green; */
}